html, body{
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}
.btn{
  background-color: inherit;
  border: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.2em;
  padding: 10px 12px;

}
.red{
  color: #B00100 !important;
}

a,a:visited{
  color: inherit;
  text-decoration: none;
}

#logo{
  font-size: 1.2em;
}
.no-margin{
  margin: 0px;
}

.be-blue{
  background-color: rgb(19,48,70);
}

.white{
  color: rgb(218,254,255);
}

.large-padding{
  padding: 10px 7px;
}

ul{
  list-style-type:none;
}

.field,.top-space,.actions{
  margin-top: 1em;
}

.text-left{
  text-align: left;
}

.form-control{
  border: none;
  border-bottom: 1px solid;
  outline: none;
  width: 100%;
  display: block;
  padding: 10px 0px;
  font-size: 1.2em;
}